# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Archivos generados por IDEs
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.suo
*.userprefs

# Archivos del sistema
.DS_Store
*.swp
*.tmp
*.bak
*.orig
*.rej
